header{
    text-align: center;
    font-size: large;
    font-style:italic;
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

body{
    background-color: yellow;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 25px,25px;
    


}
.header{
    text-align: center;
    border:solid 2px green;
    
}
.programming{
    text-align: center;
    border: solid 2px black;
}

